*~
/text/leibniz.aco
/text/leibniz.ano
/text/leibniz.atr
/text/leibniz.cho
/text/leibniz.dct
/text/leibniz.dcx
/text/leibniz.dfs
/text/leibniz.ecl
/text/leibniz.eid
/text/leibniz.eno
/text/leibniz.ere
/text/leibniz.err
/text/leibniz.esh
/text/leibniz.eth
/text/leibniz.evl
/text/leibniz.fil
/text/leibniz.frm
/text/leibniz.frx
/text/leibniz.idx
/text/leibniz.log
/text/leibniz.nol
/text/leibniz.par
/text/leibniz.parx
/text/leibniz.prf
/text/leibniz.ref
/text/leibniz.refx
/text/leibniz.sgl
/text/leibniz.vcl
/text/leibniz.xml
